

/* You can add global styles to this file, and also import other style files */
.content{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    gap: 2vw 2vw;
}
.margin-bottom-2{
    margin-bottom: 2%;
}
.item-child{
    display: flex;
    align-self: center;
    margin: auto;
    width: 100%;
    justify-content: center;
}
.bottom-border{
    border-radius: 5px;
    border-style: none none solid none;
}
.logo{
    align-self: flex-start;
}
.user-control{
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin: auto 0%;
}
header{
    margin: 10px 20px 0px 20px;
}
.margin-bottom-0{
    margin-bottom: 0px !important;
}
.banner-image{
    display: block;
    width: 100%;
  height: 50vh;
}
.margin-auto{
    margin: auto;
}
.content-cards{
    display: flex;
    width: calc(80vw / 4);
    margin: auto;
    flex-direction: row;
    
}
.none-float{
    float: none !important;
}
.main-banner{
    padding-top: 200px !important;
}
@media (max-width: 800px) {
    .content-cards {
      flex-direction: column;
      width: 90vw;
    }
  }
.card{
    border: none !important;
}
.line-height2{
    color: #000 !important;
    line-height: 85px !important;
}
.card-body{
    align-items: center;
    margin: auto;
}
.article-thumbnail{
    display: block;
  max-width:650px;
  max-height:650px;
  width: auto;
  height: auto;
}
.p-galleria-thumbnail-container{
    background-color: #fff !important;
    color: #000 !important;
}
.article{
    display: flex;
    width: 90vw;
}
.article-right{
    display: flex;
    width: 50vw;
}
.article-left{
    display: flex;
    width: 50vw;
}

